﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using sem4_projekt_dotnet.Areas.Identity.Data

@inject SignInManager<sem4_projekt_dotnetUser> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item btn btn-outline-warning btn-sm m-1">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/MyOffers">My Offers</a>
        </li>
        <li class="nav-item btn btn-outline-warning btn-sm m-1">
            <a class="nav-link text-dark" asp-area="" asp-page="/Messagess/Index">My Messages</a>
        </li>
    @* <li class="nav-item"> *@
    @*     <a class="nav-link text-dark" asp-area="" asp-page="/Rates/Index">Rates</a> *@
    @* </li> *@
        <li class="nav-item btn btn-outline-warning btn-sm m-1">
            <a class="nav-link text-dark" asp-area="" asp-page="/Intrests/Index">My Intrests</a>
        </li>
    }
</ul>