@page
@model MyOffersModel

@{
    ViewData["Title"] = "My Offers";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>My Offers</h1>

<p>
    <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="/Items/Create">Create New</a>
</p>
<table class="table align-middle">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item[0].imagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item[0].name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item[0].category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item[0].subCategory1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item[0].subCategory2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item[0].address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item[0].expirationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item[0].reservation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item[0].handOverState)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Item)
    {
        <tr>

            <td>
                <img class="img-thumbnail rounded" style="background-color: #ffc107;" src="~/uploads/@item.imagePath" onerror="this.src = '~/notFound.png'"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(model => model.Item[0].subCategory1)
            </td>
            <td>
                @Html.DisplayFor(model => model.Item[0].subCategory1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.expirationDate)
            </td>
            <td>
                @if (item.reservation)
                {
                    <i class="bi bi-check-circle" style="color: #ffc107"></i>
                }
                @if (item.reservation == false)
                {
                    <i class="bi bi-circle" style="color: #ffc107"></i>
                }
            </td>
            <td>
                @if (item.handOverState)
                {
                    <i class="bi bi-check-circle" style="color: #ffc107"></i>
                }
                @if (item.handOverState == false)
                {
                    <i class="bi bi-circle" style="color: #ffc107"></i>
                }
            </td>
            <td>
                <form>
                    <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="/Items/Edit" asp-route-id="@item.itemId">Edit</a>
                    <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="/Items/Details" asp-route-id="@item.itemId">Details</a>
                    <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="/Items/Delete" asp-route-id="@item.itemId">Delete</a>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>