@page
@model sem4_projekt_dotnet.Pages.Messagess.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Message.messageContent" class="control-label"></label>
                <input asp-for="Message.messageContent" class="form-control" />
                <span asp-validation-for="Message.messageContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="nav-item btn btn-outline-warning btn-sm m-1"  />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="Index">Back to List</a>
</div>

