@page
@model sem4_projekt_dotnet.Pages.Messagess.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Message</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message.userId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message.userId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message.itemId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message.itemId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message.messageContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message.messageContent)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Message.messageId" />
        <input type="submit" value="Delete" class="nav-item btn btn-outline-warning btn-sm m-1"  /> |
        <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="./Index">Back to List</a>
    </form>
</div>
