@page
@using Microsoft.AspNetCore.Identity
@using sem4_projekt_dotnet.Areas.Identity.Data
@model sem4_projekt_dotnet.Pages.Messagess.DetailsModel
@inject UserManager<sem4_projekt_dotnetUser> UserManager
@inject sem4_projekt_dotnetIdentityDbContext Context

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message.userId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => UserManager.Users.SingleOrDefault(user => user.Id == model.Message.userId).Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message.reciveUserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => UserManager.Users.SingleOrDefault(user => user.Id == model.Message.reciveUserId).Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message.itemId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => Context.Items.SingleOrDefault(item => item.itemId == model.Message.itemId).name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message.messageContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message.messageContent)
        </dd>
    </dl>
</div>
<div>
    <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="./Edit" asp-route-id="@Model.Message?.messageId">Edit</a>
    <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="./Index">Back to List</a>
</div>
