﻿@page
@model sem4_projekt_dotnet.Pages.Messagess.OutboxModel

@{
    ViewData["Title"] = "Outbox";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Outbox</h1>
    <li class="nav-item btn btn-warning btn-sm">
        <a class="nav-link text-dark" asp-area="" asp-page="/Messagess/Index">Inbox</a>
    </li>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].reciveUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].itemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].messageContent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Message) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => @Model._userManager.Users.SingleOrDefault(u => u.Id == item.reciveUserId).Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model._context.Items.SingleOrDefault(i => i.itemId == item.itemId).name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.messageContent)
            </td>
            <td>
                <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="./Details" asp-route-id="@item.messageId">Details</a>
                <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="./Delete" asp-route-id="@item.messageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
