@page
@model sem4_projekt_dotnet.Pages.Intrests.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div>
    <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="Index">Back to List</a>
</div>

