@page
@model sem4_projekt_dotnet.Pages.Intrests.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Intrest</h4>
    <hr />
    
    <form method="post">
        <input type="hidden" asp-for="Intrest.intrestId" />
        <input type="submit" value="Delete" class="nav-item btn btn-outline-warning btn-sm m-1"  />
        <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="./Index">Back to List</a>
    </form>
</div>
