@page
@model sem4_projekt_dotnet.Pages.Intrests.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>My interests</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Intrest[0].itemId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Intrest) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => @Model._context.Items.SingleOrDefault(i => i.itemId == item.itemId).name)
            </td>
            <td>
                <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="./ItemDetails" asp-route-id="@item.itemId">Item details</a>
                <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="./Delete" asp-route-id="@item.intrestId">Delete interest</a>
            </td>
        </tr>
}
    </tbody>
</table>
