@page
@model sem4_projekt_dotnet.Pages.Intrests.ItemDetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.subCategory1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.subCategory1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.subCategory2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.subCategory2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.expirationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.expirationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.reservation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.reservation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.reservationUserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.reservationUserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.handOverState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.handOverState)
        </dd>
    </dl>
</div>
<div>
    <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="/Intrests/Index">Back to List</a>
</div>