@page
@using sem4_projekt_dotnet.Models
@using Microsoft.AspNetCore.Identity
@using sem4_projekt_dotnet.Areas.Identity.Data
@model sem4_projekt_dotnet.Pages.Items.DetailsModel
@inject UserManager<sem4_projekt_dotnetUser> UserManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<h1>Details</h1>

<div>
    <h4>Item</h4>
    <div class="row">
        <div class="col-6">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item.imagePath)
                </dt>
                <dd class="col-sm-10">
                    <img class="img-fluid rounded" style="background-color: #ffc107" src="/uploads/@Html.DisplayFor(model => model.Item.imagePath)" onerror="this.src = '/notFound.png'"/>
                </dd>
            </dl>
        </div>
        <div class="col-6">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item.name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item.name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item.category)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item.category)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item.subCategory1)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item.subCategory1)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item.subCategory2)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item.subCategory2)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item.address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item.address)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item.description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item.description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item.expirationDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item.expirationDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item.reservation)
                </dt>
                <dd class="col-sm-10">
                    @if (Model.Item.reservation)
                    {
                        <i class="bi bi-check-circle" style="color: #ffc107"></i>
                    }
                    @if (Model.Item.reservation == false)
                    {
                        <i class="bi bi-circle" style="color: #ffc107"></i>
                    }
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item.reservationUserId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => UserManager.Users.SingleOrDefault(u => u.Id == Model.Item.reservationUserId).Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item.handOverState)
                </dt>
                <dd class="col-sm-10">
                    @if (Model.Item.handOverState)
                    {
                        <i class="bi bi-check-circle" style="color: #ffc107"></i>
                    }
                    @if (Model.Item.handOverState == false)
                    {
                        <i class="bi bi-circle" style="color: #ffc107"></i>
                    }
                </dd>
            </dl>
            <div>
                <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="/Messagess/Create" asp-route-id="@Model.Item?.itemId">Send Message</a>
                <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="./Index">Back to List</a>
            </div>
        </div>
    </div>
</div>