@page
@using sem4_projekt_dotnet.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model sem4_projekt_dotnet.Pages.Items.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Item.itemId"/>
            <div class="form-group">
                <label asp-for="Item.name" class="control-label"></label>
                <input asp-for="Item.name" class="form-control"/>
                <span asp-validation-for="Item.name" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Item.category" class="control-label"></label>
                <select name="category" asp-for="Item.category" class="form-control">
                    <option value="">Select main category</option>
                    <option value="Automotive">Automotive</option>
                    <option value="Real estate">Real estate</option>
                    <option value="Job">Job</option>
                    <option value="House and Garden">House and Garden</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Fashion">Fashion</option>
                    <option value="Agriculture">Agriculture</option>
                    <option value="Animals">Animals</option>
                    <option value="For Kids">For Kids</option>
                    <option value="Sports and Hobby">Sports and Hobby</option>
                    <option value="Music and Education">Music and Education</option>
                    <option value="Services and Companies">Services and Companies</option>
                    <option value="Accommodation">Accommodation</option>
                </select>
                <span asp-validation-for="Item.category" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Item.subCategory1" class="control-label"></label>
                <select name="subcategory1" asp-for="Item.subCategory1" class="form-control">
                    <option value="">Select first sub-category</option>
                    <option value="Automotive">Automotive</option>
                    <option value="Real estate">Real estate</option>
                    <option value="Job">Job</option>
                    <option value="House and Garden">House and Garden</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Fashion">Fashion</option>
                    <option value="Agriculture">Agriculture</option>
                    <option value="Animals">Animals</option>
                    <option value="For Kids">For Kids</option>
                    <option value="Sports and Hobby">Sports and Hobby</option>
                    <option value="Music and Education">Music and Education</option>
                    <option value="Services and Companies">Services and Companies</option>
                    <option value="Accommodation">Accommodation</option>
                </select>
                <span asp-validation-for="Item.subCategory1" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Item.subCategory2" class="control-label"></label>
                <select name="subcategory2" asp-for="Item.subCategory2" class="form-control">
                    <option value="">Select second sub-category</option>
                    <option value="Automotive">Automotive</option>
                    <option value="Real estate">Real estate</option>
                    <option value="Job">Job</option>
                    <option value="House and Garden">House and Garden</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Fashion">Fashion</option>
                    <option value="Agriculture">Agriculture</option>
                    <option value="Animals">Animals</option>
                    <option value="For Kids">For Kids</option>
                    <option value="Sports and Hobby">Sports and Hobby</option>
                    <option value="Music and Education">Music and Education</option>
                    <option value="Services and Companies">Services and Companies</option>
                    <option value="Accommodation">Accommodation</option>
                </select>
                <span asp-validation-for="Item.subCategory2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.address" class="control-label"></label>
                <input asp-for="Item.address" class="form-control"/>
                <span asp-validation-for="Item.address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.description" class="control-label"></label>
                <input asp-for="Item.description" class="form-control"/>
                <span asp-validation-for="Item.description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.expirationDate" class="control-label"></label>
                <input asp-for="Item.expirationDate" class="form-control"/>
                <span asp-validation-for="Item.expirationDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Item.reservation"/> @Html.DisplayNameFor(model => model.Item.reservation)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Item.reservationUserId" class="control-label"></label>
                <select asp-for="Item.reservationUserId" class="form-control">
                    @foreach (var option in Model.intrests)
                    {
                        @* <option value="@option.userId">@option.userId</option> *@
                        <option value="@option.userId">@Model._userManager.Users.SingleOrDefault(u => u.Id == option.userId).Email</option>
                    }
                </select>
                <span asp-validation-for="Item.reservationUserId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Item.handOverState"/> @Html.DisplayNameFor(model => model.Item.handOverState)
                </label>
            </div>
            <div class="form-group">
                <input asp-for="Item.imagePath" class="control-label d-none"/>
                <label asp-for="Item.imagePath" class="control-label"></label>
                <input asp-for="Image" class="form-control"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="nav-item btn btn-outline-warning btn-sm m-1"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="./Index">Back to List</a>
</div>