@page
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore.ChangeTracking.Internal
@using sem4_projekt_dotnet.Areas.Identity.Data
@model sem4_projekt_dotnet.Pages.Items.IndexModel
@inject SignInManager<sem4_projekt_dotnetUser> SignInManager
@{
    ViewData["Title"] = "Items";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Items</h1>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="Create">Create New</a>
    </p>
}
<form asp-page="/Items/Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name :
            <input type="text" name="SearchString" value="@Model.CurrentFilter"/>
            Or Localization :
            <input type="text" name="localizationString" value="@Model.LocalizationFilter"/>
            <p>
                Or filter by:
                <select name="categoryString" asp-for="@Model.CategoryFilter" class="form-control" style="background-color: #ffc107; width: fit-content">
                    <option value="">Category</option>
                    <option value="Automotive">Automotive</option>
                    <option value="Real estate">Real estate</option>
                    <option value="Job">Job</option>
                    <option value="House and Garden">House and Garden</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Fashion">Fashion</option>
                    <option value="Agriculture">Agriculture</option>
                    <option value="Animals">Animals</option>
                    <option value="For Kids">For Kids</option>
                    <option value="Sports and Hobby">Sports and Hobby</option>
                    <option value="Music and Education">Music and Education</option>
                    <option value="Services and Companies">Services and Companies</option>
                    <option value="Accommodation">Accommodation</option>
                </select>
                <select name="subcategory1String" asp-for="@Model.Subcategory2Filter" class="form-control" style="background-color: #ffc107; width: fit-content">
                    <option value="">First sub-category</option>
                    <option value="Automotive">Automotive</option>
                    <option value="Real estate">Real estate</option>
                    <option value="Job">Job</option>
                    <option value="House and Garden">House and Garden</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Fashion">Fashion</option>
                    <option value="Agriculture">Agriculture</option>
                    <option value="Animals">Animals</option>
                    <option value="For Kids">For Kids</option>
                    <option value="Sports and Hobby">Sports and Hobby</option>
                    <option value="Music and Education">Music and Education</option>
                    <option value="Services and Companies">Services and Companies</option>
                    <option value="Accommodation">Accommodation</option>
                </select>
                <select name="subcategory2String" asp-for="@Model.Subcategory2Filter" class="form-control" style="background-color: #ffc107; width: fit-content">
                    <option value="">Second sub-category</option>
                    <option value="Automotive">Automotive</option>
                    <option value="Real estate">Real estate</option>
                    <option value="Job">Job</option>
                    <option value="House and Garden">House and Garden</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Fashion">Fashion</option>
                    <option value="Agriculture">Agriculture</option>
                    <option value="Animals">Animals</option>
                    <option value="For Kids">For Kids</option>
                    <option value="Sports and Hobby">Sports and Hobby</option>
                    <option value="Music and Education">Music and Education</option>
                    <option value="Services and Companies">Services and Companies</option>
                    <option value="Accommodation">Accommodation</option>
                </select>

            </p>
            <input type="submit" value="Search" class="nav-item btn btn-warning btn-sm me-1"/>
            <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="/Items/Index"> Back to full List</a>
        </p>
    </div>
</form>

<table class="table align-middle">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Items[0].imagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items[0].userId)
        </th>
        <th>
            <a class="nav-item btn btn-warning btn-sm me-1" asp-page="/Items/Index" asp-route-sortOrder="@Model.NameSort">
                @Html.DisplayNameFor(model => model.Items[0].name)
            </a>
        </th>
        <th>
            <a class="nav-item btn btn-warning btn-sm me-1" asp-page="/Items/Index" asp-route-sortOrder="@Model.CategorySort">
                @Html.DisplayNameFor(model => model.Items[0].category)
            </a>
        </th>
        <th>
            <a class="nav-item btn btn-warning btn-sm me-1" asp-page="/Items/Index" asp-route-sortOrder="@Model.SubCategory1Sort">
                @Html.DisplayNameFor(model => model.Items[0].subCategory1)
            </a>
        </th>
        <th>
            <a class="nav-item btn btn-warning btn-sm me-1" asp-page="/Items/Index" asp-route-sortOrder="@Model.SubCategory2Sort">
                @Html.DisplayNameFor(model => model.Items[0].subCategory2)
            </a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items[0].address)
        </th>
        <th>

            <a class="nav-item btn btn-warning btn-sm me-1" asp-page="/Items/Index" asp-route-sortOrder="@Model.ExpirationDateSort">
                @Html.DisplayNameFor(model => model.Items[0].expirationDate)
            </a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items[0].reservation)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                <img class="img-thumbnail rounded" style="background-color: #ffc107;" src="uploads/@item.imagePath" onerror="this.src = 'notFound.png'"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model._userManager.Users.SingleOrDefault(u => u.Id == item.userId).Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subCategory1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subCategory2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.expirationDate)
            </td>
            <td>
                @if (item.reservation)
                {
                    <i class="bi bi-check-circle" style="color: #ffc107"></i>
                }
                @if (item.reservation == false)
                {
                    <i class="bi bi-circle" style="color: #ffc107"></i>
                }
            </td>
            <td>
                <form>
                    @if (item.userId != Model._userManager.GetUserId(User) && Model._userManager.GetUserId(User) != null)
                    {
                        <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="../Intrests/Create" asp-route-id="@item.itemId">Watch</a>
                    }
                    @if (item.userId == Model._userManager.GetUserId(User))
                    {
                        <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="./Edit" asp-route-id="@item.itemId">Edit</a>
                    }
                    <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="./Details" asp-route-id="@item.itemId">Details</a>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>