﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Name" class="form-control" autocomplete="name" aria-required="true"/>
                <label asp-for="Input.Name"></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Surname" class="form-control" autocomplete="surname" aria-required="true"/>
                <label asp-for="Input.Surname"></label>
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Address" class="form-control" autocomplete="address" aria-required="true"/>
                <label asp-for="Input.Address"></label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"/>
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"/>
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-warning">Register</button>
        </form>
    </div>
    @* <div class="col-md-6 col-md-offset-2"> *@
    @*     <section> *@
    @*         <h3>Use another service to register.</h3> *@
    @*         <hr/> *@
    @*         @{ *@
    @*             if ((Model.ExternalLogins?.Count ?? 0) == 0) *@
    @*             { *@
    @*                 <div> *@
    @*                     <p> *@
    @*                         There are no external authentication services configured. See this *@
    @*                         <a href="https://go.microsoft.com/fwlink/?LinkID=532715"> *@
    @*                             article *@
    @*                             about setting up this ASP.NET application to support logging in via external services *@
    @*                         </a>. *@
    @*                     </p> *@
    @*                 </div> *@
    @*             } *@
    @*             else *@
    @*             { *@
    @*                 <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal"> *@
    @*                     <div> *@
    @*                         <p> *@
    @*                             @foreach (var provider in Model.ExternalLogins) *@
    @*                             { *@
    @*                                 <button type="submit" class="btn btn-warning" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button> *@
    @*                             } *@
    @*                         </p> *@
    @*                     </div> *@
    @*                 </form> *@
    @*             } *@
    @*         } *@
    @*     </section> *@
    @* </div> *@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}