@page
@model sem4_projekt_dotnet.Pages.Rates.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Rate</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rate.userId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rate.userId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rate.itemId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rate.itemId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rate.mark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rate.mark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rate.comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rate.comment)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Rate.rateId" />
        <input type="submit" value="Delete" class="nav-item btn btn-outline-warning btn-sm m-1"  /> |
        <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="./Index">Back to List</a>
    </form>
</div>
