@page
@model sem4_projekt_dotnet.Pages.Rates.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Rate</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rate.userId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rate.userId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rate.itemId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rate.itemId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rate.mark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rate.mark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rate.comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rate.comment)
        </dd>
    </dl>
</div>
<div>
    <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="./Edit" asp-route-id="@Model.Rate?.rateId">Edit</a> |
    <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="./Index">Back to List</a>
</div>
