@page
@model sem4_projekt_dotnet.Pages.Rates.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Rate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Rate.rateId" />
            <div class="form-group">
                <label asp-for="Rate.userId" class="control-label"></label>
                <input asp-for="Rate.userId" class="form-control" />
                <span asp-validation-for="Rate.userId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate.itemId" class="control-label"></label>
                <input asp-for="Rate.itemId" class="form-control" />
                <span asp-validation-for="Rate.itemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate.mark" class="control-label"></label>
                <input asp-for="Rate.mark" class="form-control" />
                <span asp-validation-for="Rate.mark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate.comment" class="control-label"></label>
                <input asp-for="Rate.comment" class="form-control" />
                <span asp-validation-for="Rate.comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="nav-item btn btn-outline-warning btn-sm m-1"  />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="./Index">Back to List</a>
</div>

