@page
@model sem4_projekt_dotnet.Pages.Rates.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rate[0].userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate[0].itemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate[0].mark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate[0].comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rate) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comment)
            </td>
            <td>
                <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="./Edit" asp-route-id="@item.rateId">Edit</a> |
                <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="./Details" asp-route-id="@item.rateId">Details</a> |
                <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="./Delete" asp-route-id="@item.rateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
