﻿@page
@using Microsoft.AspNetCore.Identity
@using sem4_projekt_dotnet.Areas.Identity.Data
@model IndexModel
@inject SignInManager<sem4_projekt_dotnetUser> SignInManager
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<div class="text-center">
    <h1 class="display-4">Welcome on </h1>
    <h1 class="bi bi-box-seam" style="font-size: xxx-large; color: #ffc107"> </h1>
    <h1 class="display-4" style="font-family: 'Comic Sans MS'">GiveAway</h1>
    
    <h3>Search for item : </h3>
    <form method="post">
        <input asp-for="Search" type="text" class="form-control form-control-lg">
        <input type="submit" value="Search" class="nav-item btn btn-outline-warning btn-sm m-1"/>
    </form>

    <h3>Last call offers : </h3>
    <div class="row">
        @foreach (var item in Model.Items)
        {
            <div class="col-4">
                <div class="card text-bg-warning m-2" style="max-width: 20rem;">
                    <img class="img-thumbnail rounded" style="background-color: #ffc107;" src="uploads/@item.imagePath" onerror="this.src = 'notFound.png'"/>
                    <div class="card-header">@Html.DisplayFor(modelItem => item.name)</div>
                    <div class="card-body">
                        <p class="card-text">Expiraton Date : @Html.DisplayFor(modelItem => item.expirationDate)</p>
                        <p class="card-text">Address : @Html.DisplayFor(modelItem => item.address)</p>
                        <p class="card-text">
                            Booked :
                            @if (item.reservation)
                            {
                                <i class="bi bi-check-circle" style="color: #ffc107"></i>
                            }
                            @if (item.reservation == false)
                            {
                                <i class="bi bi-circle" style="color: #ffc107"></i>
                            }
                        </p>
                        <p>
                            @if (item.userId != SignInManager.UserManager.GetUserId(User) && SignInManager.IsSignedIn(User))
                            {
                                <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="../Intrests/Create" asp-route-id="@item.itemId">Watch</a>
                            }
                            <a class="nav-item btn btn-outline-warning btn-sm m-1" asp-page="./Items/Details" asp-route-id="@item.itemId">Details</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>